@model BlogProject.ViewModels.WritePostViewModel
@{
    ViewBag.Title = "Write";
}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/Images/Theme/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>My Blog</h1>
                    <span class="subheading">A Place where I write Stuff</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="text-center">Write New Post</h2>
            <hr />
            @using (Html.BeginForm("Write", "Posts", FormMethod.Post, new { id = "post-form" }))
            {
                <div class="form-group">
                    <img id="postOfImage" class="img-fluid">
                </div>
                <div class="form-group">
                    @Html.Label("Post Image")
                    <input type="file" class="form-control" id="postImage" name="Image" />
                    <input type="hidden" id="ImageID" name="ImageID" value="@Model.ImageID" />
                    @Html.ValidationMessageFor(model => model.ImageID, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Title)
                    <input name="Title" id="Title" value="@Model.Title"  class="form-control" placeholder="Enter post title">
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Summary)
                    <input name="Summary" id="Summary" value="@Model.Summary"  class="form-control" placeholder="Enter post summary">
                    @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description)
                    <textarea name="Description" id="Description" class="form-control" placeholder="Write your post" rows="10">@Model.Description</textarea>
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary">Publish</button>
            }
        </div>
    </div>
</div>

@*for Making Description a big text editor*@
<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>

<script>
    $(document).ready(function () {
        CKEDITOR.replace('Description');

        $("#postImage").change(function () {

            var formData = new FormData();
            var totalFiles = document.getElementById("postImage").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("postImage").files[i];
                formData.append("postImage", file);
            }

            $.ajax({
                type: "POST",
                url: '/Posts/UploadImage',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false
            }).done(function (data) {
                if(data.Success)
                {
                    $("#ImageID").val(data.ImageID);
                    $("#postOfImage").attr('src', '/images/'+ data.ImagePath)
                }
                else
                {
                    alert("image Not uploaded.");
                }
            }).fail(function (xhr, status, errorThrown) {
                alert("an error occured.");
            })
        });
    });
</script>