@model BlogProject.ViewModels.AuthorViewModel
@{
    ViewBag.Title = "Author";
}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/Images/Theme/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@Model.Name</h1>
                    <span class="subheading">@Model.City.Name, @Model.City.Country.Name</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h5>Posts by @Model.Name</h5>
            <hr />
            @foreach (var post in Model.Posts)
            {
                <div class="post-preview">
                    <a href="/posts/details/@post.ID">
                        <h2 class="post-title">
                            @post.Title
                        </h2>
                        <h3 class="post-subtitle">
                            ---
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        @Html.ActionLink(post.Author.Name, "Author", "Accounts", new { AuthorID = post.Author.ID }, null)
                        on @post.PublishedTime.ToString("D")
                    </p>
                </div>
                <hr>
            }

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>