@model BlogProject.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";

    //List<SelectListItem> cities = Model.Cities.Select(x => new SelectListItem { Text = x.Name, Value = x.ID.ToString() }).ToList();
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Accounts", FormMethod.Post))
{
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    @Html.ValidationMessageFor(m=>m.Name)

    <br />

    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)

    <br />

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)

    <br />

    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)
    @Html.ValidationMessageFor(m => m.ConfirmPassword)

    <br />

    @Html.LabelFor(m => m.isStudent)
    @Html.CheckBoxFor(m => m.isStudent)
    @Html.ValidationMessageFor(m => m.isStudent)

    <br />

    @Html.LabelFor(m => m.isFullTimeJob)
    @Html.CheckBoxFor(m => m.isFullTimeJob)
    @Html.ValidationMessageFor(m => m.isFullTimeJob)

    <br />

    @Html.LabelFor(m => m.isPartTimeJob)
    @Html.CheckBoxFor(m => m.isPartTimeJob)
    @Html.ValidationMessageFor(m => m.isPartTimeJob)

    <br />

    @Html.LabelFor(m => m.Gender)
    @Html.Label("Male")
    @Html.RadioButtonFor(m => m.Gender, "Male")
    @Html.Label("Female")
    @Html.RadioButtonFor(m => m.Gender, "Female")
    @Html.ValidationMessageFor(m => m.Gender)

    <br />

    @Html.LabelFor(m => m.CountryID)
    <select name="CountryID" id="CountryID">
        @foreach (var country in Model.Countries)
        {
            if (country.ID == Model.DefaultCountry)
            {
                <option value="@country.ID" selected>@country.Name</option>
            }
            else
            {
                <option value="@country.ID">@country.Name</option>
            }
        }
    </select>
    @Html.ValidationMessageFor(m => m.CountryID)

    <br />

    <div id="CityDropDown">
        @Html.Label("City")
        <select name="City" id="CityID">
            @foreach (var city in Model.Cities.Where(c=>c.Country.ID == Model.DefaultCountry))
            {
                <option value="@city.ID">@city.Name</option>
            }
        </select>
    </div>
    @Html.ValidationMessageFor(m => m.CityID)

    <br />

    @Html.LabelFor(m => m.AddressDetails)
    @Html.TextAreaFor(m => m.AddressDetails)
    @Html.ValidationMessageFor(m => m.AddressDetails)

    <br />

    @Html.TextBox("RegisterButton", "Register", new { type = "submit" })
}

<script>
    $(document).ready(function () {
        $("#CountryID").change(function () {

            var country_ID = $("#CountryID").val();

            //AJAX for PartialView
            //$.ajax({
            //    url: "/Accounts/GetCities",
            //    data: {
            //        CountryID: country_ID
            //    },
            //    success: function (result) {                    
            //        $("#CityDropDown").html(result);
            //    }
            //});

            //AJAX for JSON
            $.ajax({
                url: "/Accounts/GetCitiesByJSON",
                data: {
                    CountryID: country_ID
                },
                success: function (citiesList) {

                    $('#CityID').children().remove();

                    $.each(citiesList, function (i, city) {
                        $('#CityID')
                            .append($("<option></option>")
                                .attr("value", city.ID)
                                .text(city.Name));
                    });
                }
            });
        });
    });
</script>