@model BlogProject.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";

    //List<SelectListItem> cities = Model.Cities.Select(x => new SelectListItem { Text = x.Name, Value = x.ID.ToString() }).ToList();
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/Images/Theme/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Register</h1>
                    <span class="subheading">Register Your Account for My Blog</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <h2>Register<br>Your<br>Account<br>for<br>My Blog</h2>
        <div class="col-lg-8 col-md-10 mx-auto">
            @using (Html.BeginForm("Register", "Accounts", FormMethod.Post, new { id="register-form" }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    <input name="Name" id="Name" class="form-control" placeholder="Enter Name">
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    <input name="Email" id="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    <input name="Password" id="Password" type="password" class="form-control" placeholder="Enter Password">
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    <input name="ConfirmPassword" id="ConfirmPassword" type="password" class="form-control" placeholder="Enter Password Again">
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Profession")
                    <div class="checkbox">
                        @Html.EditorFor(model => model.isStudent)
                        @Html.Label("Student")
                        @Html.ValidationMessageFor(model => model.isStudent, "", new { @class = "text-danger" })
                    </div>
                    <div class="checkbox">
                        @Html.EditorFor(model => model.isPartTimeJob)
                        @Html.Label("Part Time")
                        @Html.ValidationMessageFor(model => model.isPartTimeJob, "", new { @class = "text-danger" })
                    </div>
                    <div class="checkbox">
                        @Html.EditorFor(model => model.isFullTimeJob)
                        @Html.Label("Full Time")
                        @Html.ValidationMessageFor(model => model.isFullTimeJob, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Gender")
                    <div class="radiobutton">
                        @Html.RadioButtonFor(m => m.Gender, "Male")
                        @Html.Label("Male")
                    </div>
                    <div class="checkbox">
                        @Html.RadioButtonFor(m => m.Gender, "Female")
                        @Html.Label("Female")
                    </div>
                    @Html.ValidationMessageFor(model => model.isPartTimeJob, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Country")
                    <select name="CountryID" id="CountryID" class="form-control">
                        @foreach (var country in Model.Countries)
                        {
                            if (country.ID == Model.DefaultCountry)
                            {
                                <option value="@country.ID" selected>@country.Name</option>
                            }
                            else
                            {
                                <option value="@country.ID">@country.Name</option>
                            }
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("City")
                    <select name="CityID" id="CityID" class="form-control">
                        @foreach (var city in Model.Cities.Where(c => c.Country.ID == Model.DefaultCountry))
                        {
                            <option value="@city.ID">@city.Name</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AddressDetails)
                    <textarea name="AddressDetails" id="AddressDetails" class="form-control" placeholder="Enter Address"></textarea>
                    @Html.ValidationMessageFor(model => model.AddressDetails, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            }
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @Html.ValidationSummary(false, "", new { @class = "" })
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //scroll to email control when page loads and focus it
        var scrollPos = $("#register-form").offset().top - 40;
        $(window).scrollTop(scrollPos);
        $("#Name").focus();

        $("#CountryID").change(function () {

            var country_ID = $("#CountryID").val();

            //AJAX for PartialView
            //$.ajax({
            //    url: "/Accounts/GetCities",
            //    data: {
            //        CountryID: country_ID
            //    },
            //    success: function (result) {                    
            //        $("#CityDropDown").html(result);
            //    }
            //});

            //AJAX for JSON
            $.ajax({
                url: "/Accounts/GetCitiesByJSON",
                data: {
                    CountryID: country_ID
                },
                success: function (citiesList) {

                    $('#CityID').children().remove();

                    $.each(citiesList, function (i, city) {
                        $('#CityID')
                            .append($("<option></option>")
                                .attr("value", city.ID)
                                .text(city.Name));
                    });
                }
            });
        });
    });
</script>